<%= @user.name || @user.email %>, you are welcome!

<%= button_to "send email", email_path(@user) %>


<p><strong><%= @user.name || @user.email %>'s topics </strong></p>

<%= render partial: "topics/form", locals: {topic: Topic.new, user: @user} %>

<p> Topics and Bookmarks you have Created </p>

<%= render partial: "topics/topic", collection: @topics %>

<p> Bookmarks you have Upvoted </p>

<%= render partial: "bookmarks/bookmark", collection: @upvoted_bookmarks, as: :upvoted_bookmark %>
<br>  